*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive
	width: 30%;
}

header{
	background-image: url(../images/airbnd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 120vh;
}

.clearfix:after{
	content: ".",
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1150px;
	margin: 0 auto;
}

.row img{
	height: 50px;
	float: left;
	margin-top: 30px;
	color: #fff;
	margin-right: 20px;
}

.main-nav{
	float: right;
	margin-top: 40px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 2px;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 70%;
	border-radius: 15px;
	margin-right: 5px;
	transition: 0.8s;
}

.main-nav li a:hover{
	font-weight: bold;
}

.column{
	float: left;
	width: 50%;
	padding: 50px;
	height: 300px;
}

.row:after{
	content: "";
	display: table-row;
	clear: both;
}

h1{
	color: #555;
	padding-top: 35px;
	font-size: 50px;
}

p{
	color: black;
	padding-top: 35px;
}

form{
	text-align: center;
	padding-bottom: 40px;
	top: 20px;
	color: black;
}
button{
	border-radius: 50px;
	width: 20%;
}

.example2 h2{
	border: 3px solid;
	padding: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    font-size: 20px;
    border-left-color: yellow;
}

 h2{
	color: black;
	bottom: 5px;
	top: 20px;
	font-size: 20px;
}

a {
	color: #555;
}

.column2{
	float: left;
	padding: 30px;
	width: 38%;
	border: 10px;
	
}
.column3{
	padding: 30px;
	
}
.column1{
	padding: 30px;
	float: right;
	width: 29%;
	
}

.row-main img{
	float: left;
	margin-right: 5px;
	max-height: 106px;
    border-width: 10px;
    border-radius: 20px;
    display: inline;
    height: 60%;
    padding: 15px; 
    margin: 20px;  
}

.row-main p{
	padding: 50px;
	color: black;
}

.container .about{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	margin: 20px;
	padding: 20px;
	
    
}

.container h1{
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	padding: 40px;
}
.column4{
	float: left;
	width: 35%;
	position: relative;
	
}

.column4 p{
	padding: -10px;
	margin: 40px;
	color: #555;
	padding-top: 5px;
	margin-top: -25px;
	font-size: 22px;
}
.column5{
	float: left;
	width: 35%;
}
.column5 p{
	padding: -10px;
	margin: 40px;
	color: #555;
	padding-top: 5px;
	margin-top: -25px;
	font-size: 22px;
}
.column6{
	float: left;
	width: 30%;
}

.column6 p{
	padding: -10px;
	font-size: 19px;
	margin: 40px;
	color: #555;
	padding-top: 5px;
	margin-top: -25px;
}
.column7{
	float: right;
	width: 35%;
}
.column7 p{
	padding: -10px;
	margin: 40px;
	color: #555;
	padding-top: 5px;
	margin-top: -25px;
	font-size: 22px;
}

.footer{
	color: #fff;
	padding: 10px;
}
.footer p{
	padding: 40px;

	
}

.fa{
	height: 7px;
	width: 3%;
	float: right;

}

.footer p span{
	padding: 80px;
	margin: 20px;	
}
